<?xml version="1.0"?>
<launch>
     <arg name="ld_mrs" default="true" /> 


    <!-- Left laser -->
    <include file="$(find atlas2_bringup)/launch/lms1xx.launch">
        <arg name="port" value="192.168.0.134" />
        <arg name="frame_id" value="left_laser" />
    </include>

    <!-- Right laser -->
    <include file="$(find atlas2_bringup)/launch/lms1xx.launch">
        <arg name="port" value="192.168.0.231" />
        <arg name="frame_id" value="right_laser" />
    </include>

    <!-- top camera right -->
    <include file="$(find atlas2_bringup)/launch/pointgrey_flea3.launch">
        <arg name="camera_name" value="top_right_camera" />
        <arg name="camera_serial" default="14352340" />
        <arg name="frame_id" value="top_right_camera_optical" />
    </include>
    <param name="/top_right_camera/camera_nodelet/video_mode" value="format7_mode1"/>
    <param name="/top_right_camera/camera_nodelet/frame_rate" value="15" />
    <node name="image_proc" pkg="image_proc" type="image_proc" ns="top_right_camera"/>

    <!-- top camera left -->
    <include file="$(find atlas2_bringup)/launch/pointgrey_flea3.launch">
        <arg name="camera_name" value="top_left_camera" />
        <arg name="camera_serial" default="14352549" />
        <arg name="frame_id" value="top_left_camera_optical" />
    </include>
    <param name="/top_left_camera/camera_nodelet/video_mode" value="format7_mode1"/>
    <param name="/top_left_camera/camera_nodelet/frame_rate" value="15" />
    <node name="image_proc" pkg="image_proc" type="image_proc" ns="top_left_camera"/>

        <!-- RGB-D camera  -->
    <include file="$(find atlas2_bringup)/launch/openni2.launch">
        <arg name="camera" value="rgbd_camera" />
<!--        <arg name="camera_serial" default="" />-->
<!--        <arg name="rgb_frame_id" default="/$(arg cammera_name)_rgb_optical_frame" />-->
<!--        <arg name="depth_frame_id" default="/$(arg cammera_name)_depth_optical_frame" />-->
    </include>
<!--    <param name="/top_left_camera/camera_nodelet/video_mode" value="format7_mode1"/>-->
<!--    <param name="/top_left_camera/camera_nodelet/frame_rate" value="15" />-->
<!--    <node name="image_proc" pkg="image_proc" type="image_proc" ns="top_left_camera"/>-->


    <!-- frontal camera -->
<!--    <include file="$(find atlas2_bringup)/launch/pointgrey_zebra2.launch">-->
<!--        <arg name="camera_name" value="frontal_camera" />-->
<!--        <arg name="camera_serial" default="14233704" />-->
<!--        <arg name="frame_id" value="frontal_camera" />-->
<!--    </include>-->

<!--    <include file="$(find atlas2_bringup)/launch/novatel.launch"></include>-->


        <group ns="frontal_laser">
            <include file="$(find atlas2_bringup)/launch/sick_ldmrs_node.launch">
            </include>
        </group>


    <!--    Publishes the frames of the scans of the sd_rms laser-->
<!--    <node pkg="free_space_detection" type="device_frame_publisher_node" name="device_frame_publisher" required="true" output="screen"/>-->
</launch>
