<?xml version="1.0"?>
<!--Plays back a system bag file-->
<launch>
    <!--full path to the bag file-->
    <arg name="bag" default="none"/>
    <arg name="rate" default=".5"/>
    <!--Parameters-->
    <param name="/use_sim_time" value="true"/>
    <!--uncompress images-->
<!--    <node pkg="image_transport" type="republish" name="republish_frontal_camera" output="screen"-->
<!--          args="compressed in:=/frontal_camera/image_color raw out:=/frontal_camera/image_color"/>-->
    <node pkg="image_transport" type="republish" name="republish_top_right_camera" output="screen"
          args="compressed in:=/top_right_camera/image_color raw out:=/top_right_camera/image_color"/>
    <node pkg="image_transport" type="republish" name="republish_top_left_camera" output="screen"
          args="compressed in:=/top_left_camera/image_color raw out:=/top_left_camera/image_color"/>



    <!--playback a bag file in visual mode
    <node pkg="rqt_bag" type="rqt_bag" name="rqt_bag" output="screen" args=" $(arg bag)"/> -->
    <!--playback a bag file-->
    <!--<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args=" $(arg bag) -l -s 30 -clock -r 1 -duration 12"/>-->
<!--    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"-->
<!--          args=" /home/$(env USER)/Desktop/$(arg bag).bag &#45;&#45;clock -r $(arg rate) -l"/>-->

    <!--<node pkg="rosbag" type="play" name="rosbag_play" output="screen"-->
          <!--args=" $(arg bag) &#45;&#45;clock -r $(arg rate) -l -s 0"/>-->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
          args=" $(arg bag) --clock -r $(arg rate) -l -s 0 /tf:=/tf_dev_null /tf_static:=/tf_static_dev_null"/>


</launch>
