<?xml version="1.0"?>
<launch>
    <!--arguments-->
    <arg name="only_raw_data" default="true"/>
    <!--Whether or not to record only raw data-->
    <arg name="bag" default="atlascar2"/>
    <param name="/use_sim_time" value="false"/>
    <!--To record only raw data-->
    <group if="$(arg only_raw_data)">
        <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="
            /frontal_laser/cloud
            /left_laser/laserscan
            /right_laser/laserscan
            /top_left_camera/image_color/compressed
            /top_left_camera/camera_info
            /top_right_camera/image_color/compressed
            /top_right_camera/camera_info
            /tf
            /joint_states
            /tf_static
            -o /tmp/bag_file.bag"></node>
    </group>
</launch>