<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find atlas2_description)/urdf/atlas2_model_macro.urdf.xacro" />
    <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_flea3.urdf.xacro" />
    <xacro:include filename="$(find sick_ldmrs_description)/urdf/sick_ldmrs_macros.urdf.xacro" />
    <xacro:include filename="$(find lms1xx)/urdf/sick_lms1xx.urdf.xacro" />

    <xacro:macro name="atlas2" params="prefix">
        <!-- links -->
        <link name="${prefix}base_link" />
        <link name="${prefix}ground" />


        <!-- car model -->
        <xacro:atlas2_model prefix="${prefix}" />
        <joint name="${prefix}base_link_to_${prefix}model" type="fixed">
            <origin xyz="0 0 -0.4" rpy="0 0 ${pi/2}" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}model" />
        </joint>
        <!-- joints -->
        <joint name="${prefix}base_link_to_${prefix}ground" type="fixed">
            <origin xyz="0 0 -0.4" rpy="0 0 0" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}ground" />
        </joint>

        <!-- top-right-camera -->
        <xacro:pointgrey_flea3 name="${prefix}top_right_camera" frame="${prefix}top_right_camera" />

        <joint name="${prefix}base_link_to_${prefix}top_right_camera" type="fixed">
            <origin xyz="-1.50 -0.12 1.25" rpy="0 0.4 0" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}top_right_camera" />
        </joint>

        <!-- top-left-camera -->
        <xacro:pointgrey_flea3 name="${prefix}top_left_camera" frame="${prefix}top_left_camera" />

        <joint name="${prefix}base_link_to_${prefix}top_left_camera" type="fixed">
            <origin xyz="-1.50 0.12 1.25" rpy="0 0.4 0" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}top_left_camera" />
        </joint>


        <!-- laser sensor lms_ldmrs400001 -->
        <xacro:sick_ldmrs name="${prefix}frontal_laser" />

        <joint name="${prefix}base_link_to_${prefix}frontal_laser_mount_link" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}frontal_laser_mount_link" />
        </joint>


        <!-- left lms151 laser -->
        <xacro:sick_lms1xx frame="${prefix}right_laser" />

        <joint name="${prefix}base_link_to_${prefix}right_laser" type="fixed">
            <origin xyz="-0.05 -0.70 0.10" rpy="0 0 ${-0.63}" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}right_laser" />
        </joint>

        <!-- right lms151 laser -->
        <xacro:sick_lms1xx frame="${prefix}left_laser" />

        <joint name="${prefix}base_link_to_${prefix}left_laser" type="fixed">
            <origin xyz="-0.05 0.70  0.10" rpy="0 0 ${0.57}" />
            <parent link="${prefix}base_link" />
            <child link="${prefix}left_laser" />
        </joint>


    </xacro:macro>
</robot>