<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="atlas">
    <xacro:include filename="$(find atlascar2_description)/urdf/atlascar2_macro.urdf.xacro"/>
<!--    <xacro:include filename="$(find atlascar2_description)/urdf/atlascar2_posopt_macro.urdf.xacro"/>-->
    <xacro:atlascar2 prefix=""/>


</robot>