<?xml version="1.0"?>

<launch>
    <!-- Launch file arguments -->
    <arg name="vehicle_name" default="atlascar2"/>
    <arg name="x_pos" default="30.0"/>
    <arg name="y_pos" default="30.0"/>
    <arg name="z_pos" default="0.3"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <arg name="cmd_timeout" default="0.5"/>
    <arg name="twist_cmd_topic" default="/$(arg vehicle_name)/cmd_vel"/>
    <arg name="ackermann_cmd_topic" default="/$(arg vehicle_name)/ackermann_cmd"/>
    <arg name="wheelbase" default="2.55"/>
    <arg name="frame_id" default="base_link"/>
    <arg name="message_type" default="ackermann_drive_stamped"/>

    <group ns="$(arg vehicle_name)">
        <param name="tf_prefix" value="$(arg vehicle_name)"/>

        <!-- robot_description is used by nodes that publish to joint_states. -->
        <param name="robot_description"
               command="$(find xacro)/xacro $(find atlascar2_description)/urdf/atlascar2_ackermann.urdf.xacro"/>

        <!-- Read joint positions from joint_states, then publish the vehicle's
             state to tf. -->
        <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" value="30.0"/>
        </node>


        <!-- Including robots spawn -->
        <include file="$(find atlascar2_bringup)/launch/ackermann_spawn.launch">
            <arg name="vehicle_name" value="$(arg vehicle_name)"/>
            <arg name="x_pos" value="$(arg x_pos)"/>
            <arg name="y_pos" value="$(arg y_pos)"/>
            <arg name="z_pos" value="$(arg z_pos)"/>
            <arg name="roll" value="$(arg roll)"/>
            <arg name="pitch" value="$(arg pitch)"/>
            <arg name="yaw" value="$(arg yaw)"/>
        </include>

        <!-- Load the joint controllers. One of these publishes the joint states
     to joint_states. -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
              args="$(find atlascar2_description)/config/em_3905_joint_ctrlr_params.yaml"/>

        <!-- Control the steering, axle, and shock absorber joints. -->
        <node name="ackermann_controller" pkg="atlascar2_description" type="ackermann_controller.py">
            <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
            <rosparam file="$(find atlascar2_description)/config/em_3905_ackermann_ctrlr_params.yaml" command="load"/>
        </node>

<!--        Convert from a twist message to an ackermann message-->
        <include file="$(find atlascar2_bringup)/launch/ackermann_conversion.launch">
            <arg name="twist_cmd_topic" value="$(arg twist_cmd_topic)"/>
            <arg name="ackermann_cmd_topic" value="$(arg ackermann_cmd_topic)"/>
            <arg name="wheelbase" value="$(arg wheelbase)"/>
            <arg name="frame_id" value="$(arg frame_id)"/>
            <arg name="message_type" value="$(arg message_type)"/>
        </include>
    </group>
</launch>