<?xml version="1.0"?>
<launch>

    <!-- Launch file arguments -->
    <arg name="vehicle_name" default="atlascar2"/>
    <arg name="x_pos" default="-45.0"/>
    <arg name="y_pos" default="-72.0"/>
    <arg name="z_pos" default="0.3"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <arg name="cmd_timeout" default="0.5"/>
    <arg name="twist_cmd_topic" default="/$(arg vehicle_name)/cmd_vel"/>
    <arg name="ackermann_cmd_topic" default="/$(arg vehicle_name)/ackermann_cmd"/>
    <arg name="wheelbase" default="2.55"/>
    <arg name="frame_id" default="base_link"/>
    <arg name="message_type" default="ackermann_drive_stamped"/>

    <group ns="$(arg vehicle_name)">
        <param name="tf_prefix" value="$(arg vehicle_name)"/>

        <!-- Load ackermann_steering_bot model -->
        <param name="robot_description"
               command="$(find xacro)/xacro $(find atlascar2_description)/urdf/atlascar2_ackermann_v2.urdf.xacro"/>

        <!-- Read joint positions from joint_states, then publish the vehicle's
     state to tf. -->
        <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" value="30.0"/>
        </node>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

        <!--      &lt;!&ndash; Load controller config &ndash;&gt;-->
        <rosparam command="load" file="$(find atlascar2_description)/config/gains.yaml"/>

        <!--      &lt;!&ndash; Load ackermann_steering_bot config &ndash;&gt;-->
        <rosparam command="load" file="$(find atlascar2_description)/config/atlascar2_hw_sim.yaml" />

        <!-- Including robots spawn -->
        <!--        É aqui que dá o problema, o anterior dá load a controladores e o novo não... algo está errado no xacro (se fosse so isso...)-->
        <include file="$(find atlascar2_bringup)/launch/ackermann_spawn.launch">
            <arg name="vehicle_name" value="$(arg vehicle_name)"/>
            <arg name="x_pos" value="$(arg x_pos)"/>
            <arg name="y_pos" value="$(arg y_pos)"/>
            <arg name="z_pos" value="$(arg z_pos)"/>
            <arg name="roll" value="$(arg roll)"/>
            <arg name="pitch" value="$(arg pitch)"/>
            <arg name="yaw" value="$(arg yaw)"/>
        </include>

        <node name="controller_spawner" pkg="controller_manager" type="spawner"
            args="$(find atlascar2_description)/config/atlascar2_steering_params.yaml
                    $(find atlascar2_description)/config/atlascar2_joint_publisher.yaml"/>

        <!-- Spawn controller -->
        <!--      <node name="controller_spawner"-->
        <!--            pkg="controller_manager" type="spawner" output="screen"-->
        <!--            args="ackermann_steering_controller" />-->


    </group>

    <!-- rqt_plot monitoring -->
    <!--
    <node name="ackermann_steering_bot_pos_monitor"
          pkg="rqt_plot"
          type="rqt_plot"
          args="/ackermann_steering_bot_controller/odom/pose/pose/position/x" />
    <node name="ackermann_steering_bot_vel_monitor"
          pkg="rqt_plot"
          type="rqt_plot"
          args="/ackermann_steering_bot_controller/odom/twist/twist/linear/x" />
    <node name="ackermann_steering_bot_ang_vel_monitor"
          pkg="rqt_plot"
          type="rqt_plot"
          args="/ackermann_steering_bot_controller/odom/twist/twist/angular/z" />
    -->
</launch>