<?xml version="1.0"?>
<launch>
    <arg name="visualize" default="false" />

    <include file="$(find atlascar2_bringup)/launch/drivers_bringup.launch" >
        <arg name="2DLidar_left_bringup" value="true"/>
        <arg name="2DLidar_right_bringup" value="true"/>
        <arg name="3DLidar_bringup" value="true"/>
        <arg name="top_camera_right_bringup" value="true"/>
        <arg name="top_camera_left_bringup" value="true"/>
        <arg name="front_camera_bringup" value="false"/>
        <arg name="RGBD_camera_bringup" value="false"/>
        <arg name="novatel_bringup" value="false"/>
    </include>

    <include file="$(find atlascar2_bringup)/launch/model.launch" />

    <group if="$(arg visualize)">
        <include file="$(find atlascar2_bringup)/launch/visualize.launch"/>
    </group>

</launch>