<?xml version="1.0"?>
<launch>
<!--      <arg name="ld_mrs" default="true" /> -->


    <!-- Left laser -->
    <include file="$(find atlascar2_bringup)/launch/lms1xx.launch">
        <arg name="port" value="192.168.0.134" />
        <arg name="frame_id" value="left_laser" />
    </include>

</launch>