<?xml version="1.0"?>
<launch>
    <!--arguments-->
    <arg name="only_raw_data" default="true"/>
    <!--Whether or not to record only raw data-->
    <arg name="bag" default="atlascar2"/>
    <arg name="simulation" default="false"/>

    <param name="/use_sim_time" value="$(arg simulation)"/>

    <!--To record only raw data-->
    <group if="$(arg only_raw_data)">
        <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="
            /frontal_laser/cloud
            /left_laser/laserscan
            /right_laser/laserscan
            /top_left_camera/camera_info
            /top_left_camera/image_raw/compressed
            /top_right_camera/camera_info
            /top_right_camera/image_raw/compressed
            /top_laser/cloud
            /tf
            /tf_static
            /joint_states
            /ackermann_steering_controller/cmd_vel
            /ackermann_steering_controller/odom
            /top_center_rgbd_camera/rgb/image_raw/compressed
            /top_center_rgbd_camera/rgb/camera_info
            /top_center_rgbd_camera/depth/image/compressedDepth
            /top_center_rgbd_camera/depth/camera_info
            -o /tmp/bag_file.bag">
        </node>

<!--        http://wiki.ros.org/openni_launch/Tutorials/BagRecordingPlayback-->
    </group>
</launch>