<?xml version="1.0"?>
<launch>
    <!-- This launch file launchs one of the atlascar2 top cameras mounted on the car's roof -->
   <arg name="name" default="left" doc="camera type [left, right]"/>

   <group if="$(eval arg('name') == 'left')">
       <include file="$(find atlascar2_bringup)/launch/include/camera_spinnaker.launch">
            <arg name="camera_name" value="top_left_camera" />
            <arg name="camera_serial" default="14352549" />
        </include>
   </group>

   <group if="$(eval arg('name') == 'right')">
        <include file="$(find atlascar2_bringup)/launch/include/pointgrey_flea3.launch">
            <arg name="camera_name" value="top_right_camera" />
            <arg name="camera_serial" default="14352340" />
        </include>
   </group>


</launch>
