<?xml version="1.0"?>
<launch>
    <!-- This launch file launchs one of the atlascar2 top cameras mounted on the car's roof -->
   <arg name="name" default="left" doc="camera type [left, right]"/>

   <group if="$(eval arg('name') == 'left')">
       <include file="$(find atlascar2_bringup)/launch/include/pointgrey_flea3.launch">
            <arg name="camera_name" value="top_left_camera" />
            <arg name="camera_serial" default="14352340" />
            <arg name="frame_id" value="top_left_camera_optical" />
        </include>
        <param name="/top_left_camera/camera_nodelet/video_mode" value="format7_mode1"/>
        <param name="/top_left_camera/camera_nodelet/frame_rate" value="15" />
        <node name="image_proc" pkg="image_proc" type="image_proc" ns="top_left_camera"/>
   </group>

   <group if="$(eval arg('name') == 'right')">
        <include file="$(find atlascar2_bringup)/launch/include/pointgrey_flea3.launch">
            <arg name="camera_name" value="top_right_camera" />
            <arg name="camera_serial" default="14352549" />
            <arg name="frame_id" value="top_right_camera_optical" />
        </include>
        <param name="/top_right_camera/camera_nodelet/video_mode" value="format7_mode1"/>
        <param name="/top_right_camera/camera_nodelet/frame_rate" value="15" />
        <node name="image_proc" pkg="image_proc" type="image_proc" ns="top_right_camera"/>
   </group>


</launch>