<!-- Creating a world in GAZEBO -->

<launch>
    <!-- Including another launch file -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">

<!--        World from https://github.com/chaolmu/gazebo_models_worlds_collection-->
        <arg name="world_name" value="city_osm_roundabout_combined.world "/>


        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>

    </include>

  <!-- <node name="interactive_pattern" pkg="mmtbot_gazebo" type="interactive_pattern" output="screen"/> -->

</launch>