<?xml version="1.0"?>
<launch>  

    <!-- Beetle Car -->
     <!-- <node name="move_1" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="car_beetle"/>
        <param name="model_path" value="/home/rafael/catkin_ws/src/gazebo_cars/models/car_beetle/model.sdf"/>
        <param name="x" value="47"/>
        <param name="y" value="33"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="0"/>
        <param name="speed_y" value="-0.14"/>
        <param name="speed_x" value="0"/>
    </node> -->
     <!-- Female -->
     <!-- <node name="move_2" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="human_female_1"/>
        <param name="model_path" value="/home/rafael/.gazebo/models/human_female_1/model.sdf"/>
        <param name="x" value="70"/>
        <param name="y" value="-14"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="3.14"/>
        <param name="speed_y" value="0.03"/>
        <param name="speed_x" value="0"/>
    </node> -->
     <!-- Suv -->
     <!-- <node name="move_3" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="suv"/>
        <param name="model_path" value="/home/rafael/.gazebo/models/suv/model.sdf"/>
        <param name="x" value="75"/>
        <param name="y" value="2.1"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="-3.11"/>
        <param name="speed_y" value="0"/>
        <param name="speed_x" value="-0.125"/>
    </node> -->
     <!-- Male -->
    <node name="move_4" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="human_male_3"/>
        <param name="model_path" value="/home/rafael/.gazebo/models/human_male_3/model.sdf"/>
        <param name="x" value="36"/>
        <param name="y" value="-8"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="-3.37"/>
        <param name="speed_y" value="0.05"/>
        <param name="speed_x" value="0"/>
    </node>
     <!-- Atlascar2 -->
     <node name="move" pkg="camera_perception" type="move.py" output="screen">     
        <param name="speed_x" value="6"/>
        <param name="ang_z" value="0"/>
    </node>

 
</launch>




