<?xml version="1.0"?>
<launch>  

    <!-- Beetle Car -->
     <!-- <node name="move_1" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="car_beetle"/>
        <param name="model_path" value="/home/rafael/catkin_ws/src/gazebo_cars/models/car_beetle/model.sdf"/>
        <param name="x" value="-45"/>
        <param name="y" value="-53"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="0"/>
        <param name="speed_y" value="-0.25"/>
        <param name="speed_x" value="0"/>
    </node> -->
     <!-- Female -->
     <node name="move_2" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="human_female_1"/>
        <param name="model_path" value="/home/rafael/.gazebo/models/human_female_1/model.sdf"/>
        <param name="x" value="-40"/>
        <param name="y" value="-82"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="3"/>
        <param name="speed_y" value="0.06"/>
        <param name="speed_x" value="0"/>
    </node>
     <!-- Suv -->
     <node name="move_3" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="suv"/>
        <param name="model_path" value="/home/rafael/.gazebo/models/suv/model.sdf"/>
        <param name="x" value="-11"/>
        <param name="y" value="-72"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="3.0681"/>
        <param name="speed_y" value="0.008"/>
        <param name="speed_x" value="-0.1"/>
    </node>
     <!-- Male -->
     <!-- <node name="move_4" pkg="camera_perception" type="move_1.py" output="screen">     
        <param name="model_name" value="person_standing"/>
        <param name="model_path" value="/home/rafael/.gazebo/models/person_standing/model.sdf"/>
        <param name="x" value="-40"/>
        <param name="y" value="-80"/>
        <param name="roll" value="0"/>
        <param name="pitch" value="0"/>
        <param name="yaw" value="3"/>
        <param name="speed_y" value="0.1"/>
        <param name="speed_x" value="0"/>
    </node> -->
     <!-- Atlascar2 -->
     <node name="move" pkg="camera_perception" type="move.py" output="screen">     
        <param name="speed_x" value="2"/>
        <param name="ang_z" value="0"/>
    </node>

 
</launch>




