<?xml version="1.0"?>
<launch>

    <arg name="module_name" default="yolov7_module"/>
    <arg name="model_path" default="$(find camera_perception)/src/models/yolov7.torchscript"/>
    <arg name="source_1" default="/panorama_img"/>
    <arg name="source_2" default="/panorama_img1"/>
    <arg name="loader_name" default="torchscript_cuda"/>
    <arg name="simulation" default="false"/>
    <arg name="real" default="false"/>

    <param name="/use_sim_time" value="$(arg simulation)"/>

    <group if="$(arg real)">
        <node name="data_combiner" pkg="camera_perception" type="receiver_left_camera.py" output="screen"/>

        <node name="inference_node" pkg="camera_perception" type="inference_node.py" output="screen"
            args="-fn $(arg module_name) -mp $(arg model_path) -ml $(arg loader_name) -sr $(arg source_1) -w1 200 -w2 1101">
        </node>
    </group> 

    <group unless="$(arg real)">
        <node name="data_combiner" pkg="camera_perception" type="receiver_left_camera_sim.py" output="screen"/>

        <node name="inference_node" pkg="camera_perception" type="inference_node.py" output="screen"
            args="-fn $(arg module_name) -mp $(arg model_path) -ml $(arg loader_name) -sr $(arg source_1) -w1 400 -w2 601">
        </node>
    </group> 
 
</launch>